fastapi==0.115.9
uvicorn==0.34.2
python-dotenv==1.0.1
pydantic==2.11.4
pydantic-settings==2.9.1
sqlalchemy==2.0.40
langchain==0.3.25
langchain-core==0.3.59
langchain-community==0.3.24
langchain-anthropic==0.3.13
langchain-cohere==0.4.4
langchain-google==0.1.1
langchain-google-genai==2.1.4
langchain-openai==0.3.16
langchain-text-splitters==0.3.8
langgraph==0.4.3
langgraph-checkpoint==2.0.25
langgraph-sdk==0.1.66
docling==2.31.1
docling-core==2.30.0
docling-ibm-models==3.4.3
docling-parse==4.0.1
starlette==0.45.3
anthropic==0.51.0
cohere==5.15.0
openai==1.78.0
google-ai-generativelanguage==0.6.18
google-api-core==2.24.2
google-auth==2.40.1
googleapis-common-protos==1.70.0
chromadb==1.0.8
qdrant_client==1.2.0
langchain-qdrant==0.2.1
# Optional, only if you use these vector stores:
# faiss-cpu
# pymilvus
